<script lang="ts">
import Vue from 'vue';
import { MetaInfo } from 'vue-meta/types/vue-meta';
import {
  FeaturesLandingHero,
  FeaturesMenu,
  FeaturesContent,
  FeaturesCopyMedia,
  FeaturesFilter,
} from '../../components/features/index';
import { NextStep } from '../../components/common/index';
import { SolutionsResourceCards } from '../../components/solutions/index';
import { getPageMetadata } from '~/common/meta';
import { filterFeaturesHelper } from '~/lib/processFeaturesHelper';

export default Vue.extend({
  name: 'Features',
  components: {
    NextStep,
    FeaturesLandingHero,
    SolutionsResourceCards,
    FeaturesFilter,
    FeaturesCopyMedia,
    FeaturesContent,
    FeaturesMenu,
  },
  nuxtI18n: false,
  async asyncData({ $content, error }: any) {
    const categoriesObject = await $content('synced/categories').fetch();
    const featuresFetch = await $content('synced/features').fetch();
    try {
      const doc = await $content(`features`)
        .where({ slug: { $contains: ['features-partial'] } })
        .sortBy('slug', 'asc')
        .fetch();

      const features = doc.reduce((previous: any, current: any) => {
        const mergedFeature = {
          ...previous,
          ...current,
        };

        return mergedFeature;
      });

      features.tabs.forEach((tab: any) => {
        const stageFormatted = tab.text.toLowerCase();
        const categoryList: any = [];
        Object.entries(categoriesObject).forEach(([key, value]) => {
          const itemValue = value as any;
          if (itemValue?.stage?.includes(stageFormatted)) {
            categoryList.push({ slug: key, name: itemValue?.name });
          }
        });

        const featuresArray = categoryList.map((category: any) => {
          return {
            ...category,
            features: filterFeaturesHelper(
              featuresFetch.features,
              features.content_config.filter_features_by,
              category.slug,
            ),
          };
        });
        features[stageFormatted].features = featuresArray;
      });

      return { features };
    } catch (e) {
      return error({ statusCode: 404 });
    }
  },
  data() {
    return {
      selectedTab: '',
      contentFilter: {
        plan: '',
      },
    };
  },
  head(): MetaInfo {
    return getPageMetadata((this as any).features, this.$route.path);
  },
  mounted() {
    this.selectedTab = this.$route.query.stage
      ? this.$route.query.stage
      : (this as any).features.tabs[0].text.toLowerCase();

    if (!this.$route.query.stage) {
      this.$router.replace({
        path: '',
        query: { stage: this.selectedTab },
        replace: true,
      });
    }
  },
  methods: {
    onTabChange(tab: string) {
      this.selectedTab = tab;
      this.contentFilter = {
        plan: '',
      };
    },
    onUpdateFilter(newFilter: any) {
      this.contentFilter = {
        plan: newFilter.plan.toLowerCase(),
      };
    },
  },
});
</script>

<template>
  <section class="overflow-clip">
    <SlpContainer>
      <FeaturesLandingHero :data="features.call_to_action" />
      <FeaturesMenu
        v-if="selectedTab"
        :tabs="features.tabs"
        :default-tab="selectedTab"
        :dropdown-label="features.dropdown_label"
        @tabChange="onTabChange"
      />
      <template v-if="features[selectedTab]">
        <FeaturesCopyMedia
          :data="features[selectedTab]['copy_media']"
          :features="features[selectedTab].features"
        />
        <section>
          <FeaturesFilter
            :dropdown-label="
              features[selectedTab]['copy_media']['dropdown_label'] ||
              `Selected Feature Category Filter`
            "
            :stage-categories="contentFilter.categories"
            :dropdown-options="
              features[selectedTab]['copy_media']['categories']
            "
            @updateFilter="onUpdateFilter"
          />
          <FeaturesContent
            :data="features[selectedTab]"
            :content-config="features.content_config"
            :filter="contentFilter"
          />
          <SlpSideButton data-ga-name="to-top" data-ga-location="body" />
        </section>
      </template>
    </SlpContainer>
    <SlpContainer>
      <SolutionsResourceCards :data="features.resources" />
    </SlpContainer>
    <SlpContainer variant="gradient">
      <NextStep />
    </SlpContainer>
  </section>
</template>
