<script lang="ts">
import Vue from 'vue';
import { getPageMetadata } from '../../common/meta';
import { NextStep, SlpBreadcrumb } from '../../components/common/index.vue';
import BrowseCaseStudies from '../../components/customers/browse-case-studies.vue';

export default Vue.extend({
  components: {
    NextStep,
    SlpBreadcrumb,
    BrowseCaseStudies,
  },
  nuxtI18n: false,
  async asyncData({ $content }) {
    const data = await $content('customers/all/index').fetch();
    const caseStudiesList = await $content(
      'customers/all/case-studies-list',
    ).fetch();
    return { data, caseStudiesList };
  },
  data() {
    return {
      UrlQuery: {},
    };
  },
  head() {
    return getPageMetadata((this as any).data, this.$route.path);
  },
  created() {
    this.UrlQuery = this.$route.query;
  },
});
</script>

<template>
  <div>
    <SlpContainer class="slp-my-lg-32 slp-mt-8 slp-mb-24">
      <SlpRow>
        <SlpBreadcrumb :crumbs="data.crumbs" />
      </SlpRow>
      <SlpRow
        class="slp-mt-0 slp-mt-lg-64"
        :class="data.header.link_text ? '' : 'slp-mb-8'"
      >
        <SlpTypography class="slp-mt-24" variant="heading2-bold">
          {{ data.header.title }}
        </SlpTypography>
      </SlpRow>
      <SlpRow v-if="data.header.link_text">
        <SlpButton
          :href="data.header.href"
          class="header__button slp-mt-8"
          variant="tertiary"
        >
          {{ data.header.link_text }}
          <SlpIcon icon="gl-chevron-lg-right" />
        </SlpButton>
      </SlpRow>
    </SlpContainer>
    <BrowseCaseStudies
      :case-studies-list="caseStudiesList"
      :data="data.browse_case_studies"
      :url-query="UrlQuery"
    />
    <NextStep />
  </div>
</template>

<style lang="scss" scoped>
.header {
  &__button {
    padding-left: 0;
  }
}
</style>
