<script lang="ts">
import Vue from 'vue';
import { MetaInfo } from 'vue-meta/types/vue-meta';
import {
  CTA as CallToAction,
  Table as SlpTable,
  CopyMedia,
  Copy,
  CopyResources,
  SlpBlockquote,
  SlpBreadcrumb,
  FeaturedMedia,
  NextStep,
} from '../../../components/common/index';
import {
  CopyMediaCard,
  CompanyCopyCard as CopyCard,
} from '../../../components/company/index';
import {
  TopicsCards,
  BenefitsIcons,
  TopicsHeader,
  TopicsCta,
  TopicsCopyBlock,
  TopicsEmphasis,
  TopicsInfoTable,
} from '../../../components/topics/index';

import { PartnersCopyBlock } from '../../../components/partners/index';
import { SolutionsResourceCards } from '~/components/solutions/index.vue';
import { getPageMetadata } from '~/common/meta';
import { toKebabCase } from '@/lib/utils';

export default Vue.extend({
  components: {
    CallToAction,
    Copy,
    CopyResources,
    CopyCard,
    CopyMediaCard,
    CopyMedia,
    TopicsCards,
    TopicsCta,
    SlpBlockquote,
    BenefitsIcons,
    TopicsHeader,
    FeaturedMedia,
    SlpTable,
    SlpBreadcrumb,
    TopicsCopyBlock,
    SolutionsResourceCards,
    TopicsInfoTable,
    TopicsEmphasis,
    NextStep,
    PartnersCopyBlock,
  },
  nuxtI18n: false,
  async asyncData({ $content, params, error }: any) {
    try {
      const slug = await $content(
        `topics/version-control/${params.slug ? params.slug : 'index'}`,
      ).fetch();

      const sideMenu = slug.side_menu;
      /* Filling the anchors data if doesn't exists */
      if (!sideMenu.anchors?.data?.length) {
        sideMenu.anchors.data = slug.side_menu.content.reduce(
          (array: any, section: any) => {
            /* sections */
            if (!section.data?.header) return array;
            const id = toKebabCase(section.data?.header);
            array.push({
              text: section.data?.header,
              href: `#${id}`,
              data_ga_name: id,
              data_ga_location: 'side-navigation',
            });
            return array;
          },
          [],
        );
      }
      return { slug, sideMenu };
    } catch (e) {
      error({ statusCode: 404 });
      return {};
    }
  },
  data() {
    return {
      sections: [],
    };
  },
  head(): MetaInfo {
    return getPageMetadata((this as any).slug, this.$route.path);
  },
  methods: {
    classes(data) {
      let classes = '';
      /* always add wite space at end (or before) */
      classes += data?.no_decoration ? 'no_decoration ' : '';
      classes += data?.no_header ? 'no_header ' : '';
      classes += data?.enable_blockquote ? 'enable_blockquote ' : '';
      return classes;
    },
  },
});
</script>

<template>
  <div>
    <SlpContainer>
      <SlpBreadcrumb class="slp-mt-32" :crumbs="slug.crumbs" />
      <TopicsHeader v-if="slug.topics_header" :data="slug.topics_header.data" />
      <div v-if="slug.side_menu">
        <SlpSideNavigation
          :data="sideMenu"
          :class="{
            'side-navigation--w-hero': slug.topics_header,
            'side-navigation--w-old-hero': slug.old_topics_header,
          }"
        >
          <template v-if="slug.side_menu.hyperlinks" #footer>
            <div>
              <SlpTypography
                v-show="slug.side_menu.hyperlinks.text"
                tag="div"
                variant="body3-bold"
                class="nav-heading"
                >{{ slug.side_menu.hyperlinks.text }}</SlpTypography
              >
              <SlpButton
                v-for="(button, buttonIndex) in slug.side_menu.hyperlinks.data"
                :key="buttonIndex"
                class="hyperlinks"
                :variant="button.variant"
                :href="button.href"
                :data-ga-name="button.data_ga_name"
                :data-ga-location="button.data_ga_location"
                >{{ button.text }}
                <SlpIcon
                  v-if="button.icon"
                  class="slp-ml-8"
                  name="chevron-lg-right"
                  variant="product"
                  alt="Chevron Right Icon"
                />
              </SlpButton>
            </div>
          </template>
          <component
            :is="component.name"
            v-for="(component, index) in slug.side_menu.content"
            :key="component.name + `-${index}`"
            :data="component.data"
            :class="classes(component.data)"
          />
        </SlpSideNavigation>
      </div>
      <component
        :is="component.name"
        v-for="(component, index) in slug.components"
        :key="component.name + index"
        :data="component.data"
      />
    </SlpContainer>
    <SlpContainer variant="gradient">
      <CommonNextStep disable-animations />
    </SlpContainer>
  </div>
</template>
<style lang="scss" scoped>
:deep .dropdown {
  margin: $spacing-32 0;
}
:deep #collapsible-sidebar {
  overflow-y: scroll;
  max-height: calc(100vh - $spacing-96);
  height: 100%;
}
:deep #collapsible-sidebar-content {
  margin-top: $spacing-96;
}
.side-navigation--w-old-hero {
  :deep #collapsible-sidebar {
    padding-top: 0 !important;
  }
}
.side-navigation--w-hero {
  :deep #collapsible-sidebar {
    margin-top: $spacing-96;
  }
}
.hyperlinks {
  font-size: $font-size-default;
  line-height: 20px;
  font-weight: $font-weight-normal;
  text-align: left !important;
}
.nav-heading {
  margin-bottom: $spacing-8;
}
:deep .copy {
  text-align: start !important;
}

/* Override component styles*/
.no_decoration :deep .decoration {
  display: none;
}

.no_header :deep .anchor-header {
  display: none;
}
.enable_blockquote :deep blockquote {
  background-color: $color-surface-800;
  padding: $spacing-48;
  border-radius: 24px;
  margin: $spacing-32 0;
}
</style>
