<script lang="ts">
import Vue from 'vue';
import { toKebabCase } from '@/lib/utils';

export default Vue.extend({
  name: 'SecurityResourcesAccordion',
  props: {
    data: {
      required: true,
      type: Object,
    },
    itemIndex: {
      type: Number,
      required: true,
    },
  },
  computed: {
    accordionID() {
      return toKebabCase(this.data.header);
    },
  },
  methods: {
    toggleAccordion() {
      this.$emit('toggleController');
    },
    beforeEnter(el: any) {
      el.style.height = '0';
    },
    enter(el: any) {
      el.style.height = `${el.scrollHeight + 32}px`;
    },
    beforeLeave(el: any) {
      el.style.height = `${el.scrollHeight + 32}px`;
    },
    leave(el: any) {
      el.style.height = '0';
    },
  },
});
</script>

<template>
  <div :id="accordionID" class="security-resources-accordion">
    <SlpTypography
      tag="h5"
      variant="heading5"
      class="security-resources-accordion__summary"
    >
      <button
        :id="`${accordionID}-id`"
        class="security-resources-accordion__summary__button"
        :aria-expanded="data.expanded"
        :aria-controls="`${accordionID}-section`"
        @click="toggleAccordion"
      >
        <span class="security-resources-accordion__summary__text">
          <span class="accordion__header">{{ data.header }}</span>
        </span>
        <span
          class="security-resources-accordion__icon"
          :class="{ 'security-resources-accordion__icon--open': data.expanded }"
        ></span>
      </button>
    </SlpTypography>
    <transition
      name="accordion"
      @before-enter="beforeEnter"
      @enter="enter"
      @before-leave="beforeLeave"
      @leave="leave"
    >
      <div
        v-show="data.expanded"
        :id="`${accordionID}-section`"
        class="security-resources-accordion__container"
        role="region"
        :aria-labelledby="`${accordionID}-id`"
      >
        <ul>
          <li v-for="item in data.items" :key="item.text" class="slp-mb-32">
            <SlpButton
              :href="item.link"
              :data-ga-name="item.data_ga_name"
              :data-ga-location="item.data_ga_location"
              variant="tertiary"
              class="security-resources-links__link"
            >
              <SlpTypography variant="body2-bold" tag="div">
                {{ item.text }}</SlpTypography
              >
              <SlpIcon icon="gl-chevron-lg-right" alt="Chevron Right Icon" />
            </SlpButton>
          </li>
        </ul>
      </div>
    </transition>
  </div>
</template>

<style scoped lang="scss">
.security-resources-accordion {
  color: $color-text-300;
  list-style-type: none;
  overflow: hidden;
  width: 100%;
  text-align: left;

  &__container {
    transition: 0.3s ease-out;
  }

  &__summary {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: $spacing-16;
    padding-bottom: 20px;
    border-top: 1px solid $color-surface-300;

    &__button {
      border: 0;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      padding: 0;
      width: 100%;
      align-items: center;
      font-weight: $font-weight-bold;
      margin-top: $spacing-4;
      color: $color-primary-200;
    }

    &__text {
      display: flex;
      text-align: left;
      max-width: 80%;
    }
  }

  &__icon {
    height: 18px;
    width: 18px;
    position: relative;
    transition: transform 0.4s ease-in-out;
    margin-left: $spacing-4;

    &--open {
      transform: rotate(90deg);

      &:after {
        opacity: 0;
      }
    }

    &:before,
    &:after {
      content: '';
      background-color: black;
      position: absolute;
      display: block;
    }

    &:before {
      height: 18px;
      width: 2px;
      left: 50%;
    }

    &:after {
      height: 18px;
      width: 2px;
      transform: rotate(-90deg);
      top: 50%;
      transform-origin: top;
      transition: opacity 0.3s ease-in-out;
    }
  }
}
</style>
