<script>
import { calculatorMixin } from '../../mixins';
import StepProgress from '~/components/common/step-progress-bar.vue';
import CostResults from '@/components/calculator/cost-results.vue';
import Input from '@/components/calculator/input.vue';

export default {
  name: 'CostROICalculator',
  components: {
    StepProgress,
    CostResults,
    Input,
  },
  mixins: [calculatorMixin],
  data() {
    return {
      steps: ['Your people', 'Current spend', 'Your savings'],
      currentStep: 0,
      formData: {
        numberOfUsers: 100,
        numberOfMaintainers: 1,
        sourceCodeManagementSpend: 0,
        continuousIntegrationSpend: 0,
        continuousDeliverySpend: 0,
        registriesSpend: 0,
        agileProjectManagementSpend: 0,
        agilePortfolioManagementSpend: 0,
        applicationSecuritySpend: 0,
      },
    };
  },
  computed: {
    atLeastOneSpend() {
      // user must fill out at least one field within the annual spending portion of the form
      return (
        this.formData.sourceCodeManagementSpend > 0 ||
        this.formData.continuousIntegrationSpend > 0 ||
        this.formData.continuousDeliverySpend > 0 ||
        this.formData.registriesSpend > 0 ||
        this.formData.agileProjectManagementSpend > 0 ||
        this.formData.agilePortfolioManagementSpend > 0 ||
        this.formData.applicationSecuritySpend > 0
      );
    },
  },
};
</script>

<template>
  <article :class="`calculator ${currentStep == 2 && 'showing-results'}`">
    <div class="calculator-container">
      <StepProgress
        :steps="steps"
        :active="currentStep"
        @changeStep="selectStep"
      />
      <div class="form" aria-live="polite" @submit.prevent>
        <div v-show="currentStep == 0">
          <SlpTypography tag="h2" variant="body1-bold">
            How many people are using and maintaining your tool chain?
          </SlpTypography>
          <div class="form-controls">
            <div class="form-control">
              <label for="numberOfUsers"
                >Number of users
                <SlpTooltip
                  id="numberOfUsers"
                  position="top"
                  mode="click"
                  :text="tooltipData.numberOfUsers"
                  class="tooltip"
                >
                  <SlpIcon variant="product" name="information-o" /></SlpTooltip
              ></label>
              <Input
                id="numberOfUsers"
                v-model.number="formData.numberOfUsers"
                min="1"
              />
            </div>
            <div class="form-control line-break">
              <label for="numberOfMaintainers"
                >Number of DevSecOps tools maintainers
                <SlpTooltip
                  id="numberOfMaintainers"
                  position="top"
                  mode="click"
                  :text="tooltipData.numberOfMaintainers"
                  class="tooltip"
                >
                  <SlpIcon variant="product" name="information-o" /></SlpTooltip
              ></label>
              <Input
                id="numberOfMaintainers"
                v-model.number="formData.numberOfMaintainers"
                min="0"
              />
            </div>
          </div>
          <button
            data-ga-name="continue to next step"
            data-ga-location="roi calculator landing"
            class="slp-btn primary"
            type="button"
            :disabled="
              formData.numberOfMaintainers < 0 || formData.numberOfUsers < 1
            "
            @click="nextStep"
          >
            Continue to next step
            <SlpIcon variant="product" name="arrow-right" />
          </button>
        </div>
        <div v-show="currentStep == 1">
          <SlpTypography tag="h2" variant="body1-bold">
            Approximately, what is your spend per year (in USD) on these
            capabilities?
          </SlpTypography>
          <div class="form-controls">
            <div class="form-control">
              <label for="sourceCodeManagement"
                >Source Code Management
                <SlpTooltip
                  id="sourceCodeManagement"
                  position="top"
                  mode="click"
                  :text="tooltipData.sourceCodeManagement"
                  class="tooltip"
                >
                  <SlpIcon variant="product" name="information-o" /></SlpTooltip
              ></label>
              <Input
                id="sourceCodeManagement"
                v-model.number="formData.sourceCodeManagementSpend"
                :dollar-sign="true"
                min="0"
              />
            </div>
            <div class="form-control">
              <label for="agileProjectManagement"
                >Agile Project Management<SlpTooltip
                  id="agileProjectManagement"
                  position="top"
                  mode="click"
                  :text="tooltipData.agileProjectManagement"
                  class="tooltip"
                >
                  <SlpIcon variant="product" name="information-o" /></SlpTooltip
              ></label>
              <Input
                id="agileProjectManagement"
                v-model.number="formData.agileProjectManagementSpend"
                :dollar-sign="true"
                min="0"
              />
            </div>
            <div class="form-control">
              <label for="continuousIntegration"
                >Continuous Integration<SlpTooltip
                  id="continuousIntegration"
                  position="top"
                  mode="click"
                  :text="tooltipData.continuousIntegration"
                  class="tooltip"
                >
                  <SlpIcon variant="product" name="information-o" /></SlpTooltip
              ></label>
              <Input
                id="continuousIntegration"
                v-model.number="formData.continuousIntegrationSpend"
                :dollar-sign="true"
                min="0"
              />
            </div>
            <div class="form-control">
              <label for="agilePortfolioManagement"
                >Agile Portfolio management<SlpTooltip
                  id="agilePortfolioManagement"
                  position="top"
                  mode="click"
                  :text="tooltipData.agilePortfolioManagement"
                  class="tooltip"
                  min="0"
                >
                  <SlpIcon variant="product" name="information-o" /></SlpTooltip
              ></label>
              <Input
                id="agilePortfolioManagementSpend"
                v-model.number="formData.agilePortfolioManagementSpend"
                :dollar-sign="true"
                min="0"
              />
            </div>
            <div class="form-control">
              <label for="continuousDelivery"
                >Continuous Delivery<SlpTooltip
                  id="continuousDelivery"
                  position="top"
                  mode="click"
                  :text="tooltipData.continuousDelivery"
                  class="tooltip"
                  min="0"
                >
                  <SlpIcon variant="product" name="information-o" /></SlpTooltip
              ></label>
              <Input
                id="continuousDeliverySpend"
                v-model.number="formData.continuousDeliverySpend"
                :dollar-sign="true"
                min="0"
              />
            </div>
            <div class="form-control">
              <label for="applicationSecurity"
                >Application Security<SlpTooltip
                  id="applicationSecurity"
                  position="top"
                  mode="click"
                  :text="tooltipData.applicationSecurity"
                  class="tooltip"
                  min="0"
                >
                  <SlpIcon variant="product" name="information-o" /></SlpTooltip
              ></label>
              <Input
                id="applicationSecurity"
                v-model.number="formData.applicationSecuritySpend"
                :dollar-sign="true"
                min="0"
              />
            </div>
            <div class="form-control">
              <label for="registries"
                >Registries<SlpTooltip
                  id="registries"
                  position="top"
                  mode="click"
                  :text="tooltipData.registries"
                  class="tooltip"
                >
                  <SlpIcon variant="product" name="information-o" /></SlpTooltip
              ></label>
              <Input
                id="registries"
                v-model.number="formData.registriesSpend"
                :dollar-sign="true"
                min="0"
              />
            </div>
          </div>
          <button
            data-ga-name="see your savings"
            data-ga-location="roi calculator spending"
            class="slp-btn primary"
            type="button"
            :disabled="!atLeastOneSpend"
            @click="nextStep"
          >
            See your savings
            <SlpIcon variant="product" name="arrow-right" />
          </button>
        </div>
        <CostResults
          v-show="currentStep == 2"
          :form-data="formData"
          :premium-features="premiumFeatures"
          :ultimate-features="ultimateFeatures"
          :spend-tooltip="spendTooltip"
          v-on="$listeners"
        />
      </div>
    </div>
  </article>
</template>

<style lang="scss" scoped>
@import '../../assets/css/roi-calculators.scss';
</style>
